*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.purple{
    color: #6415ff;
}

/* LANDING */

.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.nav__logo{
    display: flex;
    align-items: center;
}

.nav__img{
    width: 40px;
    margin-right: 12px;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link{
    text-decoration: none;
    margin: 0 8px;
}

.nav__link--primary{
    color: white;
    background-color: #6415ff;
    border-radius: 20px;
    padding: 8px 24px;
}

.nav__login{
   margin: 0 0 0 24px; 
}

.row{
    display: flex;
    margin: 32px;
    justify-content: space-between;
}

h1{
    font-size: 40px;
}

.header__description{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

h2{
    letter-spacing: 1.3px;
}

.company__img{
    width: 30px;
}

.computer__img{
    width: 500px;
    margin-top: 40px;
}