*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html{
    scroll-behavior: smooth;
}

.purple{
    color: #6415ff;
}

h2{
    margin: 16px 0;
}

h1{
    font-size: 40px;
    padding: 32px 0;
}

h4{
    letter-spacing: 1.5px;
}

p{
    font-size: 16px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

/* LANDING */

.nav__logo--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.nav__logo{
    width: 40px;
}

.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.nav__title{
    font-weight: 900;
    margin-left: 12px;
}

.nav__links{
    margin: 24px;
}

.nav__link{
    text-decoration: none;
    letter-spacing: 1px;
    padding: 16px;
    font-weight: 700;
    transition: all 300ms;
}

.nav__link:hover {
    width: 100%;
    border-bottom: 2px solid #6415ff;
}

.nav__link--login{
    padding-left: 40px;
}

.nav__link--signup{
    background-color: #6415ff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 32px;
    transition: all 300ms;
    font-weight: 700;
    text-decoration: none;
}

.nav__link--signup:hover{
    background-color: #3f0da3;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}

/* END NAV */

.header__description{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 24px;
}

.email__input--start{
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input:hover{
    border-color:rgb(56, 178, 172);
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover{
    background-color: #3f0da3;
}

.header__logo--title{
    font-size: 12px;
    padding-top: 48px;
    font-weight: 900;
    opacity: 50%;
}

.header__img--companies{
    opacity: 50%;
    padding-top: 24px;
}

.header__img--wrapper{

}

.header__img--computer{
    width: 500px;
}

/* FEATURES */

.features__container{
    display: flex;
    flex-wrap: wrap;
}

.features__row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 48px;
    padding: 32px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.features__title{
    font-size: 56px;
    font-weight: 900;
    text-align: center;
}

.features__subtitle{
    line-height: 28px;
    text-align: center;
    opacity: 50%;
    font-weight: 600;
    font-size: 18px;
    max-width: 600px;
}

.features__bullet-points{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.features__bullet-point{
    display: flex;
    justify-content: center;
    align-items: start;
    flex: 1 0 300px;
    padding: 16px;
}

.features__bullet-point--title{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.features__bullet-point--image{
    padding: 20px 20px;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin: 16px 8px;
}

.features__bullet-point--subtitle{
    font-weight: 600;
    opacity: 50%;
    line-height: 28px;
}

/* QUALITY WORK */

#quality_work{
    
}

.QW__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.QW__content{
    width: 40%;
    margin-top: 80px
}

.QW__image{
    width: 500px;
    border: .1px solid lightgrey;
    border-radius: 4px;
    margin-top: 80px

}

.QW__title{
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 20px;
}

.QW__para{
line-height: 28px;
opacity: 50%;
font-weight: 600;
font-size: 18px;
}

.QW__btn{
    margin-top: 32px;
    padding: 12px 32px;
    color: white;
    background-color: #6415ff;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.QW__btn:hover{
    background-color: #3f0da3;
}

.QW__btn:active{
    transform: translateY(-1px);
}

/* STEPS */

.steps__row{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 100px;
}

.steps__image{
    width: 40%;
    margin: 60px 24px;
}

.steps__equal-spacing{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.steps__number--left{
    display: flex;
}

.steps__title{
    padding: 0;
    font-weight: 900;
    font-size: 48px;
}

.steps__number{
    font-size: 40px;
    opacity: 25%;
    font-weight: 600;
    margin: 4px 16px;
}

.steps__sub-title{
    width: 360px;
    line-height: 32px;
}

.steps__para{
    opacity: 50%;
    font-weight: 600;
}

/* VALUES */

.values__container{
    margin: 120px;
}

.values__row{
    display: flex;
    justify-content: space-between;
}

.values__left{
    width: 500px;
}

.values__left--bullets{
display: flex;
align-items: center;
}

.values__image{
    margin-top: 50px;
    width: 50%;
}

.values__title{
    font-size: 48px;
    font-weight: 900;
}

.values__sub-title--wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 0;
}

.values__sub-title{
    margin: 16px 0;
    display: flex;
    align-items: center;
}

.values__para{
    opacity: 50%;
    font-weight: 600;
    line-height: 36px;
    font-size: 20px;
}

.icon__green{
    margin: 0 8px 0 0;
    padding: 10px 14px;
    border-radius: 50%;
    background-color: #9ae6b4;
}

.icon__red{
    margin: 0 8px 0 0;
    padding: 10px 12px;
    border-radius: 50%;
    background-color: #feb2b2;
}

.values__bullets--para{
    opacity: 50%;
    line-height: 24px;
    letter-spacing: 1.5;
}

/* PRICING */

.pricing__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 168px auto;
}

.pricing__header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.pricing__para{
    width: 60%;
    text-align: center;
}

.pricing__p{
    font-size: 20px;
}

.pricing__cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 64px;
}

.pricing__card--personal{
    border-top: 8pt solid rgb(56, 178, 172);
    border-left: 1pt solid rgba(107, 104, 104, 0.521);
    border-right: 1pt solid rgba(107, 104, 104, 0.521);
    border-bottom: 1pt solid rgba(107, 104, 104, 0.521);
    width: calc(100%/3.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
}

.pricing__title{
    font-size: 56px;
}

.pricing__para{
    opacity: 60%;
}

.btn__personal{
    padding: 12px 48px;
    color: white;
    background-color: rgb(56, 178, 172);
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: not-allowed;
}

.pricing__card--personal:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn__personal:hover{
    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn__personal:active{
    transform: translateY(1px);
}

.pricing__card--business{
    background-color: #5348ef;
    border-top: 8pt solid #5348ef;
    border-left: 1pt solid rgba(107, 104, 104, 0.521);
    border-right: 1pt solid rgba(107, 104, 104, 0.521);
    border-bottom: 1pt solid rgba(107, 104, 104, 0.521);
    width: calc(100%/3.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn__business{
    padding: 12px 48px;
    color: #5348ef;
    background-color: white;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: not-allowed;
}

.pricing__card--business:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform:scale(1.1);
}

.btn__business:hover{
    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn__business:active{
    transform: translateY(1px);
}

.buisness{
color: white;
}

.pricing__card--enterprise{
    border-top: 8pt solid rgb(245, 101, 101);
    border-left: 1pt solid rgba(107, 104, 104, 0.521);
    border-right: 1pt solid rgba(107, 104, 104, 0.521);
    border-bottom: 1pt solid rgba(107, 104, 104, 0.521);
    width: calc(100%/3.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
}

.btn__enterprise{
    padding: 12px 48px;
    color: white;
    background-color: rgb(245, 101, 101);
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: not-allowed;
}

.pricing__card--enterprise:hover{
    transform:scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn__enterprise:hover{
    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn__enterprise:active{
    transform: translateY(1px);
}

.pricing__card--top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    padding-top: 32px;
}

.pricing__card--middle{
    border-top: 2pt solid rgba(107, 104, 104, 0.521);
    border-bottom: 2pt solid rgba(107, 104, 104, 0.521);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.pricing__card--bottom{
    text-align: center;
    padding: 32px;
}

.pricing__pink{
    z-index: -1;
    opacity: 25%;
    position: absolute;
    left: 0;
    width: 256px;
    height: 256px;
    transform: translateX(120px) translateY(-175px);
}

/* TESTIMONIALS */

.testimonials__row{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.testimonials__img{
    width: 90%;
}

.testimonials__right{
    width: 70%;
}

.testimonials__top--title{
    font-size: 52px;
}

.testimonials__top--para{
    opacity: 50%;
    font-size: 20px;
    line-height: 1.5;
}

.testimonial__stars{
    margin: 40px 0 20px 0;
}

.testimonial__review--para{
    line-height: 1.5;
    opacity: 80%;
    margin-bottom: 32px;
}

.testimonials__right--bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials__right--person{
    display: flex;
    align-items: center;
}

.testimonial__review--title{
    font-size: 20px;
    margin: 20px 0;
}

.testimonial__bottom--para{
    opacity: 70%;
    margin-top: 6px;
}

.testimonials__person{
    width: 20%;
    border-radius: 50%;
    margin: 0 24px 0 0;
}

.testimonials__right--btns{
    display: flex;
    gap: 24px;
}

.testimonials__btn{
    padding: 16px;
    border: none;
    border-radius: 50%;
    transition: all 300ms;
}

.testimonials__btn:hover{
    background-color: rgb(216, 216, 216);
}

/* BANNER */

.banner__row{
    max-width: 1200px;
    width: 100%;
    background-color: rgb(100, 21, 255);
    margin: 200px auto;
    height: 250px;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    z-index: -2;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.banner__content{
    width: 85%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
}

.banner__text{
    width: 600px;
}

.banner__title{
    color: white;
    font-size: 32px;
    line-height: 1.5;
}

.banner__blob--1{
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 300px;
    transform: translateX(-80px) translateY(120px);
    bottom: 0;
    left: 0;
    opacity: 50%;
}

.banner__blob--2{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    height: 300px;
    width: 300px;
    right: 0;
    transform: translateX(60px) translateY(-225px);
    opacity: 50%;
}

.banner__btns{
    display: flex;
    gap: 24px;
    width: 400px;
}

.btn__get{
    padding: 20px 40px;
    background-color: rgb(245, 101, 101);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    z-index: 2;
}

.btn__get:hover{
    background-color: rgb(194, 3, 3);
}

.btn__us{
    padding: 20px 40px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    border: 1px solid white;
    transition: all 300ms;
}

.btn__us:hover{
    background-color: white;
    color: rgb(100, 21, 255);
}

.footer__row{
    width: 100%;
    background-color: rgb(100, 21, 255);
    position: relative;
    height: 524px;
    z-index: -2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__blob--1{
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 300px;
    transform: translateX(-80px) translateY(-120px);
    top: 0;
    left: 0;
    opacity: 50%;
}

.footer__blob--2{
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 300px;
    transform: translateX(100px) translateY(160px);
    bottom: 0;
    right: 0;
    opacity: 50%;
}

.footer__links{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__column{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.footer__title{
    color: white;
    margin-bottom: 8px;
}

.white{
    color: white;
    text-decoration: none;
}

.white:hover{
    border-bottom: 2px solid white;
}

.footer__logos{
    border-top: 2px solid rgba(136, 147, 147, 0.264);
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.footer__company{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer__copy{
    opacity: 75%;
}

.footer__socials{
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer__icon{
    padding: 10px 10px;
    background-color: white;
    border: none;
    border-radius: 50%;
}

.footer__icon--play{
    padding: 10px 12px;
    background-color: white;
    border: none;
    border-radius: 50%;
}

.footer__icon:hover{
    background-color: rgba(128, 128, 128, 0.888);
}

.footer__icon--play:hover{
    background-color: rgba(128, 128, 128, 0.888);
}

.footer__logo{
    width: 35px;
}

.footer__company--title{
    color: white;
}

.footer__copy--p{
    color: white;
}

/*

MEDIA

*/


/*TABLETS*/
@media (max-width: 950px){
    .nav__links{
        display: none;
    }

    .btn__menu{
        display: block;
    }

    .row{
        flex-wrap: wrap;
    }

    .header__description{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .header__img--companies{
        width: 100%;
    }

    .header__img--computer{
        width: 100%;
    }

    .QW__row{
        display: flex;
        flex-direction: column;
    }

    .QW__content{
        width: 100%;
    }

    .steps__row{
        flex-wrap: wrap;
    }

    .values__row{
        flex-wrap: wrap;
        justify-content: center;
    }

    .values__image{
        width: 100%;
    }

    .pricing__header{
        margin: 0 32px;
        text-align: center;
    }

    .pricing__cards{
        flex-direction: column;
        gap: 16px;
    }

    .pricing__card--personal{
        width: 40%;
    }

    .pricing__card--business{
        width: 40%;
    }

    .pricing__card--enterprise{
        width: 40%;
    }

    .testimonials__row{
        flex-direction: column;
    }

    .testimonials__img{
        width: 100%;
        margin: 0 auto;
    }
}

/*MOBILE DEVICES*/
@media (max-width: 700px){

    .QW__row{
        text-align: center;
    }

    .QW__image{
        width: 80%;
    }

    .steps__image{
        width: 80%;
    }

    .values__title{
        font-size: 32px;
    }

    .values__para{
        font-size: 16px;
    }

    .values__left{
        text-align: center;
    }

    .values__left--bullets{
        flex-direction: column;
    }
    .values__sub-title--wrapper{
        align-items: center;
    }

    .pricing__card--middle{
        display: none;
    }

    .pricing__card--personal{
        width: 50%;
    }

    .pricing__card--business{
        width: 50%;
    }

    .pricing__card--enterprise{
        width: 50%;
    }

    .banner__title{
        font-size: 24px;
    }

    .banner__btns{
        flex-direction: column;
    }

    .footer__company--title{
        display: none;
    }

    .footer__copy--p{
        text-align: center;
    }
}